:root {
  --primaryfont: "Poppins", sans-serif;
  --secondaryfont: "Playfair Display", serif;
  --primarycolor: #5585b5;
  --secondarycolor: #53a8b6;
  --tertiarycolor: #79c2d0;
  --accentcolor: #bbe4e9;
}

h1,
h2,
h3 {
  text-align: right;
}

body {
  background: rgba(0, 0, 0, 0.04);
}
.container {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0px solid transparent;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  background: var(--accentcolor);
}
.content-h1 {
  font-family: var(--primaryfont);
  font-size: 50px;
}

.nav-h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
}

.project-h1 {
  text-align: center;
  font-family: var(--secondaryfont);
  margin-top: 30px;
  margin-bottom: 30px;
}
.content-h2 {
  font-family: var(--secondaryfont);
  font-size: 25px;
  font-weight: normal;
  margin-top: 30px;
}

.content-h3 {
  font-family: var(--secondaryfont);
  font-size: 20px;
  font-weight: normal;
  opacity: 75%;
  padding-left: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.left-nav {
  font-size: 15px;
  text-align: center;
  border-radius: 30px 0px 0px 30px;
  background: var(--accentcolor);
  padding-bottom: 10px;
}

.logos i {
  text-align: center;
  font-size: 25px;
  margin-top: 5px;
  padding: 3px;
}

.logos i:hover {
  color: var(--primarycolor);
}

.icon {
  color: black;
}

.content {
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  padding-bottom: 10px;
}

.right-nav {
  border-radius: 0px 30px 30px 0px;
}

.jennie-photo {
  max-width: 175px;
  display: block;
}

.image-placeholder {
  width: 175px;
  height: 175px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-h3 {
  font-size: 15px;
  text-align: center;
  opacity: 75%;
}

.learn-more,
.contact-me {
  text-align: right;
  color: black;
  text-decoration: none;
}

.learn-more a,
.contact-me a {
  font-family: var(--secondary-font);
}

.learn-more:hover,
.contact-me:hover {
  color: var(--primarycolor);
  text-decoration: underline;
}

.contact-me {
  display: none;
}

.navigation {
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
}
.nav-icon {
  font-size: 30px;
}

.nav-icon a {
  color: var(--tertiarycolor);
}

.nav-icon a:hover {
  color: var(--primarycolor);
}

.project-row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card {
  display: block;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.card-text {
  min-height: 3.5em;
}

.card {
  width: 24rem;
}

@media (max-width: 576px) {
  .content-h1,
  .content-h2 {
    display: none;
  }

  .content-h3 {
    text-align: left;
    padding: 10px;
  }

  .container {
    margin: 0px;
  }

  .content {
    border-radius: 30px 30px 0px 0px;
  }
  .card {
    max-width: 95%;
  }

  .nav-links {
    text-align: center;
    margin-bottom: 20px;
  }

  .learn-more,
  .contact-me {
    text-align: center;
    margin-top: 0px;
    display: inline;
    padding: 8px;
  }

  .learn-more a,
  .contact-me a {
    padding: 0px;
  }

  .navigation {
    padding-top: 15px;
  }

  .icon {
    padding: 8px;
  }

  .left-nav {
    padding-bottom: 20px;
    border-radius: 0px;
  }

  .right-nav {
    display: none;
  }
}
